.container{
    height: 100vh;
    width: 100vw;
}
.add_recipe textarea{
    background: #cecece;
    width: 22em;
    height: 10em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border-color: #05c435;
    box-shadow: 0 0 10px #40fcbc;
}